body {
    margin: 0;
    background: #f99e17;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1000px ;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    margin-top: 40px;
    padding: 0;
    display: flex;
}

li {
    list-style: none;
}

a {
    position: relative;
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color:  #222;
    font-size: 22px;
    font-weight: bold;
    transition: 0.5s;

}

a:hover {
    color: white;
}

a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scaleY(2);
    transition: 0.5s;
    border-top: 2px solid black;
    border-bottom: 2px solid black
}

a:hover::before {
    transform: scaleY(1.2);
    opacity: 1;
}

a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6f6f06;
    transition: 0.5s;
    transform: scale(0);
    z-index: -1;
    border-radius: 15px;
}

a:hover::after {
    transform: scale(1);

}

h1 {
    text-align: center;
}


.dasar {
    max-width: 560px;
    margin-left: 10px;
    background: rgba(230, 243, 95, 0.3);
    border-radius: 15px;    
}

.card {
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px #00000080;
    transition: all 0.3s ;
    padding :20px 40px;
    cursor: pointer;
    top: 100px;
    left: 100px;
   
}

.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-60px);
    z-index: 1;
}

img {
    width: 100%;
    border-radius: 10px;
}
.card:hover {
    height: 420px;
}
.content {
    padding: 10px 20px;
    text-align: center;
    color: #111;
    transition: all 0.3s;
    transform: translateY(-100px);
    opacity: 0;
}

.card:hover .content {
    opacity: 1;
    transform: translateY(-190px);


}
